<p class="texto">Propiedades en renta</p>
<% @rentas.each do |renta| %>
    <div class = "propiedad">      
	    <ul style="float:right">
	      <il style="width:20%; float:left">
	        <img src="https://hd.unsplash.com/photo-1444676632488-26a136c45b9b" class="img-thumbnail">
	      </il>
	      <li style="font-size: 18;">
	  		<p>$<%= renta.precio_renta %></p>
	      </li>
	      <li style="font-size: 18;">
	  		<p>Dirección:  <%= renta.direccion %></p>
	      </li>
	      <li style="font-size: 18;">
	  		<p>Metros cuadraos:  <%= renta.metros_cuadrados %></p>
	      </li>
	      <li style="font-size: 18;">
	  		<p>Descripción: <%= renta.descripcion %> </p>
	      </li>
	    </ul>
    </div>
  <% end %>