@import "bootstrap";

.texto{
  font-size: 22;
  color: #808080;
}

.propiedad{
  border: 2px solid black;
}

.imagen{
  width: 10px;
  height: 10px;
  float: left;
}

.image-container{
  width: 10px;
  height: 10px;
}



